header{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFF;
    font-size: 100px;
}

body{
    background: url(fondo.png);
    background-size: cover;
    min-height: 1vh;
}

p{
    color: red;
   
}