header {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffff;
    
    
}

body {
    background: url(logoo.jpg);;
    background-repeat: none;
    height: 100vh;
   
}


img{
    padding: 5px;
}

div{
    border: 3px solid rgb(255, 255, 255);
   float: right ;
    margin-top: 100px;
}

aside{
    color: #ffff;
    padding: 10px;
    background: linear-gradient(rgb(0, 0, 0) , rgb(45, 43, 43), rgb(0,0,0) );
    width: 330px;
    font-size: 13px;
}

h1{
    text-align: center;
    margin-top: 1px;
    text-decoration: underline;
    font-size: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(mk11.png);
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 1px;
    text-decoration: underline;
    font-size: 25px;
  
    color:#FFFF};


  